<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    {{ partial "head.html" . }}
</head>

<body id="top">
    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader" class="dots-fade">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <div id="page" class="s-pagewrap {{ if .IsHome }} ss-home {{ end }}">

        {{ partial "header.html" . }}

        {{ block "main" . }}{{ end }}

        {{ partial "footer.html" . }}
    </div>

    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>

</body>

</html>